.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  padding: 45px;
}

.titleContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.specialPriceLabel {
  color: red;
}

.title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24pt;
}

.numberInput {
  border-radius: 6px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24pt;
  padding: 16px;
  text-align: center;
  width: 200px;
}
