.container {
  display: inline-block;
  position: relative;
}

.widget {
  border-style: solid;
  border-color: #dddddd;
  border-width: 2px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 645px;
}

.widget > *:not(:last-child) {
  border-bottom-style: solid;
  border-bottom-color: #dddddd;
  border-bottom-width: 1px;
}

.loaderContainer {
  align-items: center;
  background-color: rgba(128, 128, 128, 0.5);
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

/*
Loading spinner...https://www.w3schools.com/HOWTO/howto_css_loader.asp
*/
.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
