.container {
  border-style: solid;
  border-color: #dddddd;
  border-width: 2px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 645px;
}

.container > *:not(:last-child) {
  border-bottom-style: solid;
  border-bottom-color: #dddddd;
  border-bottom-width: 1px;
}
